@font-face
    {
        font-family:robotothin;
        src: url(fonts/Roboto-Thin.ttf);
    }

@font-face
    {
        font-family:robotobold;
        src: url(fonts/Roboto-Bold.ttf);
    }

@font-face
    {
        font-family:roboto;
        src: url(fonts/Roboto-Regular.ttf);
    }

body
    {
        font-family:roboto;
        color:#8e8e8e;
        z-index:1;
        margin:0;

    }

#header-wrap
    {
        height:96px;
        background-color: rgba(255, 255, 255, 0.92);
        top:0px;
        left:0px;
        right:0px;
        position:fixed;
        box-shadow: rgb(142, 142, 142) 10px 10px 30px 0px;
        z-index:3;
    }

#title
    {
        color:#71bd52;
        font-family:robotobold;
        position:relative;
        font-size:24px;
        vertical-align:middle;
        margin-top:21px;
        display:inline;
        float:left;
        left:10px;
    }

#logo
    {
        width:250px;
        left:10px;
    }

#logo img
    {
        float:left;
    }

#nav
    {
        margin-left:auto;
        margin-right:auto;
        margin-top:auto;
        margin-bottom:auto;
        height:96px;
        min-width:1015px;
    }

.navul
    {
        list-style-type:none;
        margin-top:0px;
        padding-left:115px;
        z-index:3;
    }

.navul li
    {
        display:inline;
        float: left;
        position:relative;
        
    }

.a
    {
        color:#8e8e8e;
        text-decoration:none;
        font-size:14px;
        font-weight:300;
        line-height:24px;
        text-transform:uppercase;
        padding-top:35px;
        padding-bottom:35px;
        text-align:center;
        margin-left:20px;
        margin-right:20px;
        top:0px;
    }

.a:hover
    {
        color:#71bd52;
    }

.dropdown-menu
    {
        position:absolute;
        display:none;
        background-color:#fff;
        width:180px;
        top:10px;
        padding:0px 15px 10px 15px;
        list-style-type:none;
        border-radius:0px 0px 10px 10px;
        border:1px solid black;
    }

.hover-dropdown li
    {
        transition: all 0.5s ease;
    }

.hover-dropdown li:hover div
    {
        display:block;
        margin-left:0px;
        z-index:2;
    }

.s
    {
        color:#8e8e8e;
        text-decoration:none;
        line-height:36px;
        text-transform:uppercase;
        font-size:14px;
        font-weight:300;
        height:28px;
        width:176px;
    }

.s:hover
    {
        color:#71bd52;
    }

#dropdown-container
    {
        height:10px;
        width:180px;
        top:50px;
        position:absolute;
        
    }

#sideopenmenu
    {
        display:block;
        height:38px;
        width:150px;
        background-color:#ccffcc;
        padding:8px 20px 5px 20px;
        border-radius:0px 10px 10px 0px;
        border:1px solid black;
    }

#listbox
    {
        width:99999999px;
        min-width:188px;
    }

#dropdown-list
    {
        list-style-type:none;
        padding-left:0px;
        padding-top:10px;
        bottom:0;
    }

#sideopen
    {
        vertical-align:top;
        display:none;
        border:0px solid white;
    }

#sideopen:hover
    {
        border:0px solid blue;
    }

.ss
    {
        height:50px;
        width:150px;
    }

#roboticslink
    {
        padding-right:56px;
    }

#robotlinkbox
    {
        width:193px;
        height:40px;
        position:fixed;
        z-index:1;
    }

#titleimage
    {
        background-image:url(images/background.png);
        background-size:100%;
        background-repeat:no-repeat;
        background-attachment:scroll;
        background-position:50% 10%;
        text-align:center;
        height:600px;
    }

#titleimage.smallheader
    {
        height:400px;
    }

#titlemain
    {
        background-color:rgba(120,186,93,0.9);
        height:600px;
        margin-top:0px;
    }

#titlemain.smallheader
    {
        height:400px;
    }

#titlemain h2
    {
        color:#fff;
        font-size:65px;
        font-family:robotobold;
        padding-top:240px;
        margin-bottom:0;
    }

#titlemain.smallheader h2
    {
        padding-top:160px;
    }

#titlemain.esh h2
    {
        padding-top:200px;
    }

p#subtitle
    {
        color:#fff;
        font-size:24px;
        font-family:roboto;
    }

g
    {
        color:rgb(129,129,129);
        font-family:robotobold;
    }

#main
    {
        height:200px;
        background-color:#fff;
    }

#learnmorebutton
    {
        height:50px;
        line-height:50px;
        width:120px;
        color:rgb(42,42,42);
        background-color:#fff;
        border:2px solid #2a2a2a;
        border-radius:10px;
        padding-top:auto;
        font-size:14px;
        transition: all 0.5s ease;
        margin-left:auto;
        margin-right:auto;
    }

#learnmorebutton:hover
    {
        background-color:#55AAFF;
        color:#fff;
        border:2px solid #fff;
    }

#content
    {
        width:800px;
        height:700px;
        margin-top:0px;
        margin-left:auto;
        margin-right:auto;
        font-family:roboto;
        text-align:center;
        font-size:16px;
    }

.nt
    {
        font-family:robotothin;
        text-align:center;
        margin-top:100px;
        color:#2A2A2A;
        font-size:32px;
        font-weight:lighter;
        line-height:10px;
    }

#aboutuscontent
    {
        width:100%;

    }

#aboutuscontent h2
    {
        color:#818181;
        font-size:18px;
        margin-top:0px;
    }

#aboutuscontent p
    {
        font-family:roboto;
        width:337px;
    }


#aboutuscontent td
    {
        padding:10px 30px 30px 30px;
    }

hr
    {
        height:4px;
        color:rbga(0, 0, 0, 0.13);
        background:#f6f6f6;
        border:0pt none;
    }

div.lessonstopic
    {
        height:378px;
        padding:30px 0px 0px 0px;
    }

table.lessonstopic
    {
        height:80%;
        width:100%;
    }

table.lessonstopic td.image
    {
        width:440px;
    }

table.lessonstopic td.text
    {
        width:413px;
        vertical-align:top;
    }

span.linkbutton
    {
        text-align:center;
        display:block;
        height:50px;
        line-height:50px;
        padding:0px;
        text-transform:uppercase;
        font-size:14px;
    }

a.linkbutton
    {
        border:2px solid #71bd52;
        border-radius:10px;
        text-decoration:none;
        padding:0px 43px;
        display:inline-block;
        color:#2b2b2b;
        transition:all 0.5s ease;

    }

a.linkbutton:hover
    {
        background-color:#71bd52;
        color:#fff;
    }

a.r
    {
        color:#52A7BD;
        text-decoration:none;
    }

a.r:hover
    {
        text-decoration:underline;
    }

#announcements
    {
        background-color:#78BA5D;
        border:1px solid black;
    }

.rss-box
    {
        text-align:center;
        padding: 15px 25px;
    }

.rss-box a
    {
        text-decoration:none;
        padding-bottom:10px;
        color:#0000EE;
    }

.rss-box a:hover
    {
        color:#551A8B;
    }

ul.rss-items
    {
        list-style-type:none;
        padding-left:0;
    }

li.rss-item
    {
        background-color:#fff;
        padding:20px 20px;
        color:#000;
        border:1px solid black;
    }

span.rss-date
    {
        padding-bottom:20px;
        color:#8E8E8E;
    }

#videoPicker td
    {
        vertical-align:top;
        padding-top:15px;
        padding-bottom:15px;
        padding-left:10px;
        /*text-align:center;*/
        width:250px;
    }

#scrollbox
    {
        height:400px;
        overflow:auto;
    }

#scrollbox table
    {
        overflow:scroll;
    }

#c1 
    {
        background-color:#c3c3ba;
        color:black;
    }

#c1:hover
    {
        background-color:#f5f5dc;
    }

.c
    {
        text-align:center;
        color:black;
    }

.seriestab
    {
        background-color:#448844;
        color:#DFDF88;
        padding:5px;
    }

div.caret
    {
        width: 0; 
        height: 0; 
        border-bottom: 5px solid transparent;  /* left arrow slant */
        border-top: 5px solid transparent; /* right arrow slant */
        border-left: 5px solid #BDBD66; /* bottom, add background color here */
        font-size: 0;
        line-height: 0;
        margin-left: 10px;
        display:inline-block;
    }

div.ocaret
    {
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #BDBD66;
        font-size: 0;
        line-height: 0;
        margin-left: 10px;
        display:inline-block;
    }